<a href="https://colab.research.google.com/github/DracoStandard/Coursera_Capstone/blob/master/airportJSON.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [111]:
from google.colab import drive
drive.mount('/content/gdrive', force_remount=True)

Mounted at /content/gdrive

In [112]:
import pandas as pd
airportDf = pd.read_csv ('/content/gdrive/MyDrive/AdvancedProgramming/airports.csv')#
airportDf.head()

,id,ident,type,name,latitude_deg,longitude_deg,elevation_ft,continent,iso_country,iso_region,municipality,scheduled_service,gps_code,iata_code,local_code,home_link,wikipedia_link,keywords
0,6523,00A,heliport,Total Rf Heliport,40.070801,-74.933601,11.0,NaN,US,US-PA,Bensalem,no,00A,NaN,00A,NaN,NaN,NaN
1,323361,00AA,small_airport,Aero B Ranch Airport,38.704022,-101.473911,3435.0,NaN,US,US-KS,Leoti,no,00AA,NaN,00AA,NaN,NaN,NaN
2,6524,00AK,small_airport,Lowell Field,59.947733,-151.692524,450.0,NaN,US,US-AK,Anchor Point,no,00AK,NaN,00AK,NaN,NaN,NaN
3,6525,00AL,small_airport,Epps Airpark,34.864799,-86.770302,820.0,NaN,US,US-AL,Harvest,no,00AL,NaN,00AL,NaN,NaN,NaN
4,6526,00AR,closed,Newport Hospital & Clinic Heliport,35.608700,-91.254898,237.0,NaN,US,US-AR,Newport,no,NaN,NaN,NaN,NaN,NaN,00AR

In [113]:
freqDf = pd.read_csv ('/content/gdrive/MyDrive/AdvancedProgramming/airport-frequencies.csv')
freqDf.head()

,id,airport_ref,airport_ident,type,description,frequency_mhz
0,70518,6528,00CA,CTAF,CTAF,122.9
1,307581,6589,01FL,ARCAL,NaN,122.9
2,75239,6589,01FL,CTAF,CEDAR KNOLL TRAFFIC,122.8
3,60191,6756,04CA,CTAF,CTAF,122.9
4,59287,6779,04MS,UNIC,UNICOM,122.8

In [114]:
airFreqDf =pd.merge(airportDf,freqDf, how='outer', left_on='id', right_on='airport_ref', suffixes=[None,'_freq'])

In [115]:

airFreqDf.head()

,id,ident,type,name,latitude_deg,longitude_deg,elevation_ft,continent,iso_country,iso_region,...,local_code,home_link,wikipedia_link,keywords,id_freq,airport_ref,airport_ident,type_freq,description,frequency_mhz
0,6523,00A,heliport,Total Rf Heliport,40.070801,-74.933601,11.0,NaN,US,US-PA,...,00A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,323361,00AA,small_airport,Aero B Ranch Airport,38.704022,-101.473911,3435.0,NaN,US,US-KS,...,00AA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,6524,00AK,small_airport,Lowell Field,59.947733,-151.692524,450.0,NaN,US,US-AK,...,00AK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,6525,00AL,small_airport,Epps Airpark,34.864799,-86.770302,820.0,NaN,US,US-AL,...,00AL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,6526,00AR,closed,Newport Hospital & Clinic Heliport,35.608700,-91.254898,237.0,NaN,US,US-AR,...,NaN,NaN,NaN,00AR,NaN,NaN,NaN,NaN,NaN,NaN

In [116]:
airFreqDf.dtypes
my_list = list(airFreqDf)
print(my_list)

['id', 'ident', 'type', 'name', 'latitude_deg', 'longitude_deg', 'elevation_ft', 'continent', 'iso_country', 'iso_region', 'municipality', 'scheduled_service', 'gps_code', 'iata_code', 'local_code', 'home_link', 'wikipedia_link', 'keywords', 'id_freq', 'airport_ref', 'airport_ident', 'type_freq', 'description', 'frequency_mhz']

In [117]:
json_file_path ='/content/gdrive/MyDrive/AdvancedProgramming/airports.json'
#fullDf.to_json(r'/content/gdrive/MyDrive/AdvancedProgramming/airports.json',orient ='records')
#j=fullDf.to_json(orient ='records');

In [118]:
import json

In [119]:
#https://gist.github.com/nlohmann/c899442d8126917946580e7f84bf7ee7
def remove_empty_elements(d):
    """recursively remove empty lists, empty dicts, or None elements from a dictionary"""

    def empty(x):
        return x is None or x == {} or x == [] 

    if not isinstance(d, (dict, list)):
        return d
    elif isinstance(d, list):
        return [v for v in (remove_empty_elements(v) for v in d) if not empty(v)]
    else:
        return {k: v for k, v in ((k, remove_empty_elements(v)) for k, v in d.items()) if not empty(v)}

In [120]:
airCols = ['id', 'ident', 'type', 'name', 'latitude_deg', 'longitude_deg', 'elevation_ft', 'continent', 'iso_country', 'iso_region', 'municipality', 'scheduled_service', 'gps_code', 'iata_code', 'local_code', 'home_link', 'wikipedia_link', 'keywords']
cols = airFreqDf.columns.difference(airCols)
airCols

['id',
 'ident',
 'type',
 'name',
 'latitude_deg',
 'longitude_deg',
 'elevation_ft',
 'continent',
 'iso_country',
 'iso_region',
 'municipality',
 'scheduled_service',
 'gps_code',
 'iata_code',
 'local_code',
 'home_link',
 'wikipedia_link',
 'keywords']

In [121]:
cols

Index(['airport_ident', 'airport_ref', 'description', 'frequency_mhz',
       'id_freq', 'type_freq'],
      dtype='object')

In [124]:
airFreqDf=(airFreqDf.groupby(airCols)[cols]
           .apply(lambda x: x.to_dict('r'))
           .reset_index(name='frequency'))
       #.to_json(orient='records'))

#j=remove_empty_elements(j)
#with open(json_file_path, 'w') as outfile:
#    outfile.write(j)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Using short name for 'orient' is deprecated. Only the options: ('dict', list, 'series', 'split', 'records', 'index') will be used in a future version. Use one of the above to silence this warning.

In [125]:
#reload from json into new dataframe
#airFreqDf=pd.read_json(j,orient ='records' )
#airFreqDf.head()

In [127]:
#load in the runways
runDf = pd.read_csv ('/content/gdrive/MyDrive/AdvancedProgramming/runways.csv')

airRunDf=pd.merge(airportDf,runDf,how='outer', left_on='id', right_on='airport_ref',suffixes=[None,'_runway'] )

In [128]:
airFreqCols = ['id', 'ident', 'type', 'name', 'latitude_deg', 'longitude_deg', 'elevation_ft', 'continent', 'iso_country', 'iso_region', 'municipality', 'scheduled_service', 'gps_code', 'iata_code', 'local_code', 'home_link', 'wikipedia_link', 'keywords','frequency']
runCols = fullDf.columns.difference(airFreqCols)

In [129]:
runCols

Index(['airport_ident', 'airport_ref', 'closed', 'he_displaced_threshold_ft',
       'he_elevation_ft', 'he_heading_degT', 'he_ident', 'he_latitude_deg',
       'he_longitude_deg', 'id_runway', 'le_displaced_threshold_ft',
       'le_elevation_ft', 'le_heading_degT', 'le_ident', 'le_latitude_deg',
       'le_longitude_deg', 'length_ft', 'lighted', 'surface', 'width_ft'],
      dtype='object')

In [130]:
airFreqCols

['id',
 'ident',
 'type',
 'name',
 'latitude_deg',
 'longitude_deg',
 'elevation_ft',
 'continent',
 'iso_country',
 'iso_region',
 'municipality',
 'scheduled_service',
 'gps_code',
 'iata_code',
 'local_code',
 'home_link',
 'wikipedia_link',
 'keywords',
 'frequency']

In [132]:
airRunDf=(airRunDf.groupby(airCols)[runCols]
          .apply(lambda x: x.to_dict('r'))
          .reset_index(name='runway'))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Using short name for 'orient' is deprecated. Only the options: ('dict', list, 'series', 'split', 'records', 'index') will be used in a future version. Use one of the above to silence this warning.

In [133]:
#join dataframes to get both nested into one frame


airRunDf.drop(airRunDf.columns.difference(['id','runway']),1,inplace=True)
airRunDf.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  after removing the cwd from sys.path.

     id                                             runway
0   231  [{'airport_ident': 'SIMK', 'airport_ref': 231....
1   275  [{'airport_ident': 'SNAT', 'airport_ref': 275....
2   575  [{'airport_ident': 'SWRD', 'airport_ref': 575....
3  4307  [{'airport_ident': 'LIAP', 'airport_ref': 4307...
4  4309  [{'airport_ident': 'LIBC', 'airport_ref': 4309...

In [134]:
finalDf =pd.merge(airFreqDf,airRunDf, how='inner', left_on='id', right_on='id', suffixes=[None,'_freq'])
json_final=finalDf.to_json(orient='records')

In [135]:
json_final=remove_empty_elements(json_final)
with open(json_file_path, 'w') as outfile:
    outfile.write(json_final)

In [136]:
airJson=pd.read_json(json_file_path,orient ='records' )

In [137]:
airJson.head()

,id,ident,type,name,latitude_deg,longitude_deg,elevation_ft,continent,iso_country,iso_region,municipality,scheduled_service,gps_code,iata_code,local_code,home_link,wikipedia_link,keywords,frequency,runway
0,231,SIMK,small_airport,Tenente Lund Pressoto Airport,-20.592199,-47.382900,3292,SA,BR,BR-SP,Franca,no,SIMK,FRC,SP0011,http://www.daesp.sp.gov.br/aeroporto-detalhe/?...,https://en.wikipedia.org/wiki/Franca_Airport,SBFC,"[{'airport_ident': None, 'airport_ref': None, ...","[{'airport_ident': 'SIMK', 'airport_ref': 231...."
1,275,SNAT,medium_airport,Aracati DragÃ£o do Mar Regional Airport,-4.568896,-37.805135,128,SA,BR,BR-CE,Aracati,no,SBAC,ARX,CE0004,https://www.ceara.gov.br/2021/06/25/aeroporto-...,https://en.wikipedia.org/wiki/Aracati_Airport,"SNAT, DragÃ£o do Mar Regional","[{'airport_ident': None, 'airport_ref': None, ...","[{'airport_ident': 'SNAT', 'airport_ref': 275...."
2,575,SWRD,medium_airport,Maestro Marinho Franco Airport,-16.586000,-54.724800,1467,SA,BR,BR-MT,RondonÃ³polis,yes,SBRD,ROO,MT0004,http://www.rondonopolis.mt.gov.br/orgaos-munic...,https://en.wikipedia.org/wiki/Rondon%C3%B3poli...,"SWRD, RondonÃ³polis Airport","[{'airport_ident': None, 'airport_ref': None, ...","[{'airport_ident': 'SWRD', 'airport_ref': 575...."
3,4307,LIAP,small_airport,L'Aquilaâ€“Preturo Airport,42.379902,13.309200,2211,EU,IT,IT-65,L'Aquila,no,LIAP,QAQ,AQ03,http://www.aeroportodeiparchi.it/,https://en.wikipedia.org/wiki/L%27Aquila%E2%80...,"Parchi Airport, Preturo Airport, Aeroporto dei...","[{'airport_ident': 'LIAP', 'airport_ref': 4307...","[{'airport_ident': 'LIAP', 'airport_ref': 4307..."
4,4309,LIBC,medium_airport,Crotone Airport,38.997200,17.080200,522,EU,IT,IT-78,Crotone,yes,LIBC,CRV,KR01,http://www.aeroporto.kr.it/cartaservizi_eng.asp,https://en.wikipedia.org/wiki/Crotone_Airport,Sant'Anna Airport,"[{'airport_ident': 'LIBC', 'airport_ref': 4309...","[{'airport_ident': 'LIBC', 'airport_ref': 4309..."